---
import { brand } from "../data/brand";
---

<div class="intro-loader" aria-hidden="true">
  <div class="intro-loader__mark">
    <span class="intro-loader__word">NOTA</span>
    <span class="intro-loader__sub">Parfum &middot; {brand.city}</span>
  </div>
</div>
